@import url(css/style.css);

.grid-aling{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3 ,200px);

    justify-items: stretch;
    justify-items: end;
    justify-items: start;
    justify-items: center;

    align-items: stretch;
    align-items: start;
    align-items: end;
    align-items: center;
}

.item:nth-child(5){
    display: grid;
    background-color: brown;
    color: white;
    align-self: start;
    justify-self: end;
    align-self: end;
}