*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color:  black;
    border: solid 1px rgb(255, 255, 255);
}

.item{
    padding: 1rem;
    font-size: 1.25rem;
    background: gray;
    border: solid 1px rgb(0, 0, 0);
}